<!DOCTYPE html>
<html data-ng-app="TestGridApp">
<head>
    <title>Angular Grid.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    <link href="src/grid.css" rel="stylesheet" />
    <link href="site.css" rel="stylesheet" />

    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <script src="libs/jquery.min.js"></script>

</head>

<body data-spy="scroll" data-target=".bs-sidebar">


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Angrid</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Documentation</a></li>
                    <li><a href="download.html">Download</a></li>
                    <li><a href="license.html">License</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bs-sidebar hidden-print affix" role="complementary">
                    <ul class="nav bs-sidenav hidden-xs hidden-sm">

                        <li>
                            <a href="#overview">Overview</a>
                            <!--<ul class="nav">
                                <li><a href="#js-individual-compiled">Individual or compiled</a></li>
                                <li><a href="#js-data-attrs">Data attributes</a></li>
                            </ul>-->
                        </li>
                        <li><a href="#sample-grid">Sample Grid</a></li>
                        <!--        <li>
                              <a href="#modals">Modal</a>
                              <ul class="nav">
                                  <li><a href="#modals-examples">Examples</a></li>
                                  <li><a href="#modals-usage">Usage</a></li>
                              </ul>
                          </li>
                          <li>
                              <a href="#dropdowns">Dropdown</a>
                              <ul class="nav">
                                  <li><a href="#dropdowns-examples">Examples</a></li>
                                  <li><a href="#dropdowns-usage">Usage</a></li>
                              </ul>
                          </li> -->
                    </ul>
                </div>
            </div>

            <div class="col-md-9" data-ng-controller="AppCtrl">

                <div class="scroll-anchor" id="overview"></div>
                <section>
                    <div class="page-header">
                        <h1>Overview</h1>
                    </div>
                    <p class="">
                        An javascript Grid component built with Angular JS and Bootstrap 3.
                    </p>
                </section>


                <div class="scroll-anchor" id="sample-grid"></div>
                <section>
                    <div class="page-header">
                        <h1>Sample Grid</h1>
                    </div>
                    <p class="lead">
                        The grid comes with various configurable settings. The sample grid below the settings will update real time.
                    </p>

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="col-xs-2 control-label">Pagination</label>
                            <div class="col-xs-4">
                                <select class="form-control" data-ng-model="settings.pagination">
                                    <option>touch</option>
                                    <option>classic</option>
                                </select>
                            </div>
                            <label class="col-xs-2 control-label">Initial Page</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" data-ng-model="settings.initalQuery.currentPage" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">Page sizes</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" data-ng-list="," data-ng-model="settings.pageSizes" />
                            </div>
                            <label class="col-xs-2 control-label">Initial Page Size</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" data-ng-model="settings.initalQuery.currentPageSize" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">Sorting</label>
                            <div class="col-xs-10">
                                <label class="checkbox-inline"><input type="checkbox" data-ng-model="settings.columns[0].sortable" /> Sort by Id</label>
                                <label class="checkbox-inline"><input type="checkbox" data-ng-model="settings.columns[1].sortable" /> Sort by First Name</label>
                                <label class="checkbox-inline"><input type="checkbox" data-ng-model="settings.columns[2].sortable" /> Sort by Last Name</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">Filters</label>
                            <div class="col-xs-10">
                                <label class="checkbox-inline"><input type="checkbox" data-ng-model="settings.search" /> Enable Search</label>
                                <label class="checkbox-inline"><input type="checkbox" data-ng-model="settings.columns[1].filterable" /> Filter by First Name</label>
                                <label class="checkbox-inline"><input type="checkbox" data-ng-model="settings.columns[2].filterable" /> Filter by Last Name</label>
                            </div>
                        </div>


                    </div>

                    <div data-angrid=""
                         data-settings="settings"
                         data-source="currentDataSource" style="border-top: 3px dashed #ccc; margin: 40px 0; padding: 20px 0;">
                    </div>

                </section>


            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div><!-- /.container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular/angular-animate.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>

    <script src="src/grid.js"></script>
    <script src="site.js"></script>

</body>
</html>
