<!DOCTYPE html>
<html data-ng-app="demoApp" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="demo.css" rel="stylesheet" type="text/css" />
    <title>
        Angrid Demo Form
    </title>
</head>
<body>
    <div class="container-fluid" data-ng-controller="FormCtrl">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal" data-ng-hide="dataUpdated" role="form">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            First Name
                        </label>
                        <div class="col-xs-10">
                            <input class="form-control" data-ng-model="data.firstName" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            Last Name
                        </label>
                        <div class="col-xs-10">
                            <input class="form-control" data-ng-model="data.lastName" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">
                            Email
                        </label>
                        <div class="col-xs-10">
                            <input class="form-control" data-ng-model="data.email" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-2">
                            <button class="btn btn-primary" data-ng-click="updateData()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div data-ng-show="dataUpdated" id="message">
                    {{message}}
                </div>
            </div>
        </div>
    </div>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../src/grid.js"></script>
    <script src="angrid_app.js"></script>
    <script src="demo.js"></script>
</body>
</html>
