<div class="angrid">

    <div data-ng-if="settings.search" class="form-horizontal angrid-search">
        <!--<label class="col-md-2 control-label">Search</label>-->
        <div class="col-md-offset-2 col-md-8" >
            <input type="text" class="form-control input-lg" data-ng-model="searchTerms" data-ng-keyup="delayedSearch(searchTerms)" placeholder="Search Something..." />
        </div>
        <div class="clearfix"></div>
    </div>

    <table class="table table-hover ">
        <thead>
            <tr class="active">
                <th data-ng-repeat="c in settings.columns">
                    <a href="" data-ng-if="c.sortable" title="Sort by {{c.title}}" data-ng-click="sortBy(c.name);">{{c.title}}</a>
                    <i class="glyphicon glyphicon-chevron-down" data-ng-if="c.sortable && query.sort.field == c.name && query.sort.ascending"></i>
                    <i class="glyphicon glyphicon-chevron-up" data-ng-if="c.sortable && query.sort.field == c.name && !query.sort.ascending"></i>

                    <span data-ng-if="!c.sortable">{{c.title}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="row in source.data" class="">
                <td data-ng-repeat="c in settings.columns">
                    {{row[c.name]}}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row well angrid-pager">
        <div class="col-md-10">
            <ul class="pagination pagination-sm" data-ng-if="query.pageCount() > 1">
                <li><a href="" data-ng-click="loadPage(query.currentPage - 1)">&laquo;</a></li>
                <li data-ng-repeat="i in pages" data-ng-class="{'active': i == query.currentPage}"><a href="" data-ng-click="loadPage(i)">{{i}}</a></li>
                <li><a href="" data-ng-click="loadPage(query.currentPage + 1)">&raquo;</a></li>
            </ul>
        </div>
        <div class="col-md-2 angrid-ddpagesize" data-ng-if="settings.pageSizes.length > 1">
            <select class="form-control input-sm" data-ng-options="s for s in settings.pageSizes" data-ng-model="query.currentPageSize" data-ng-change="query.currentPage = 1"></select>
        </div>
    </div>
</div>