

/* Buttons */

div.angrid .angrid-buttons {
    text-align: center;
}

div.angrid .angrid-buttons button {
    margin: 6px 2px;
}



/* GENERAL */

.center {
    text-align: center;
}



/* PAGER */



div.angrid .angrid-pager {
    border-top: 1px solid #ccc;
    padding: 9px;
    margin-bottom: 0px;
}

    div.angrid .angrid-pager .pagination {
        margin: 0;
        position: inherit;
        z-index: auto;
    }

/* fix style collisions with some components over pagination (DNN) */
.bstrap30 div.angrid .pagination > li > a, .bstrap30 div.angrid .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    background-image: none;
    height: auto;
    width: auto;
}

.bstrap30 div.angrid .pagination > .active > a {
    background-color: #428bca;
}

.bstrap30 div.angrid .pagination li {
    float: none;
}

div.angrid .angrid-pager .pager {
    float: left;
    margin: 0;
}

div.angrid .angrid-pager .pager-status {
    padding: 0 10px;
}

div.angrid .angrid-pager .angrid-loading {
    background-image: url(loading.gif);
    height: 32px;
    width: 32px;
    margin-right: 10px;
    float: left;
    background-repeat: no-repeat;
}

div.angrid .angrid-loading {
    background-image: url(loading.gif);
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    float: right;
    margin: 0 6px;
}


div.angrid .angrid-ddpagesize {
    text-align: right;
}

    div.angrid .angrid-ddpagesize select {
        width: auto;
        display: inline;
    }



/* FILTERS */


div.angrid .angrid-search {
    padding: 0 0 20px 0;
}

div.angrid .angrid-filter {
    width: 100%;
}

    div.angrid .angrid-filter .filter-name {
        float: left;
        display: block;
        margin: 0 8px;
    }

    div.angrid .angrid-filter .caret {
        float: right;
        display: block;
        margin: 8px;
    }

    div.angrid .angrid-filter .dropdown-menu {
        width: 100%;
        max-height: 240px;
        overflow: auto;
    }


/* OPACITY HELPERS */

.opacity0 {
    /* set it to 1, so we keep layout? */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; /* IE 8 */
    filter: alpha(opacity=1); /* IE 5-7 */
    -moz-opacity: 0.01; /* Netscape */
    -khtml-opacity: 0.01; /* Safari 1.x */
    opacity: 0.01; /* Good browsers */
}

.opacity50 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5; /* Good browsers */
}

.opacity75 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* IE 8 */
    filter: alpha(opacity=75); /* IE 5-7 */
    -moz-opacity: 0.75; /* Netscape */
    -khtml-opacity: 0.75; /* Safari 1.x */
    opacity: 0.75; /* Good browsers */
}

.opacity100 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
    filter: alpha(opacity=100); /* IE 5-7 */
    -moz-opacity: 1; /* Netscape */
    -khtml-opacity: 1; /* Safari 1.x */
    opacity: 1; /* Good browsers */
}

/* on DNN this doesn't get under our .bstrap3 class */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

/* some problems in DNN edit mode */
/* This fixes relative DNN Divs getting on top of our popup */
.modal-open .DnnModule, .modal-open #DNN6, .modal-open #Content {
    position: static !important;
}

.modal-backdrop {
    z-index: 1030 !important;
}

.dnnsf-dnn-editmode .modal-backdrop {
    display: none;
}

/* And this is to fix incompatibilities with bootstrap 2 */
div.angrid-popup.modal {
    width: auto;
    background: transparent;
    margin: 0;
    top: 0!important;
    overflow-y: scroll;
}

.angrid-popup .modal-body {
    max-height: none;
}


@media (min-width:992px) {
    .angrid-popup .modal-dialog.modal-lg {
        width: 900px;
    }
}


/*animations for popup*/
.modal iframe {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
